body{
    background-color: rgb(241, 241, 241);
}

h1{
    font-family: "Brush Script MT", Cursive;
font-size: 80px; 
padding-bottom: 100px;
padding-left: 40px;   
padding-top: 30px;
}

ul{
    font-size: 20px;
    color: red;
    list-style-type: square;
    padding-left: 70px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.location{
    padding-bottom: 20px;
    padding-left: 40px;   
    padding-top: 0px;
    font-size: 30px;
    font-style:italic;
    color: rosybrown;
}
#sales{
    color: sandybrown;
    padding-bottom: 90px;
    padding-left: 500px;
}

#salesLink{
 font-family: "Lucida Console", Monospace;
font-size: 70px;  
padding-left: 30px;
padding-top: 50px;
}

table, td, th {
    border: 1px solid black;
    text-align: center;

  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 30px;
  }
  
  th {
    text-align: center;
  }